.button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin-top: 10px;
  border: 1px solid rgb(192, 192, 192);
}
::placeholder {
  padding-left: 10px;
}
button:hover {
  cursor: pointer;
}

.submit {
  background-image: $gradient-image;
  color: $primarey-color;
  font-weight: bold;
}
