@import "buttons";
@import "colors";

* {
  padding: 0px;
  margin: 0px;
}
body {
  height: 100vh;
  background-color: $primarey-color;
}

.content-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.text-container {
  display: flex;
  width: 50%;
  height: 98%;
  align-items: center;
  justify-content: center;
  background-image: $gradient-image;
  margin: 10px;
  border-radius: 10px;
}
.text-box {
  display: block;
  width: 40%;
  justify-content: center;
}

h1,
p {
  color: $primarey-color;
}
h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

p {
  font-size: 20px;
  line-height: 1.8;
}

///Form elements

.form-container {
  display: flex;
  width: 50%;
  justify-content: center;
}
.form-box {
  display: block;
  width: 40%;
}

h2 {
  font-size: 30px;
  margin-bottom: 10px;
}
h4 {
  margin-bottom: 10px;
  font-weight: lighter;
  color: grey;
}
