.button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin-top: 10px;
  border: 1px solid silver;
}

::-webkit-input-placeholder {
  padding-left: 10px;
}

:-ms-input-placeholder {
  padding-left: 10px;
}

::-ms-input-placeholder {
  padding-left: 10px;
}

::placeholder {
  padding-left: 10px;
}

button:hover {
  cursor: pointer;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  height: 100vh;
  background-color: #fcf8f8;
}

.content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 98%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#ff0291),
    color-stop(#d6008a),
    color-stop(#ad007f),
    color-stop(#860071),
    to(#600060)
  );
  background-image: linear-gradient(
    to right bottom,
    #ff0291,
    #d6008a,
    #ad007f,
    #860071,
    #600060
  );
  margin: 10px;
  border-radius: 10px;
}

.text-box {
  display: block;
  width: 40%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

h1,
p {
  color: #fcf8f8;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

p {
  font-size: 20px;
  line-height: 1.8;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.form-box {
  display: block;
  width: 40%;
}

.submit {
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#ff0291),
    color-stop(#d6008a),
    color-stop(#ad007f),
    color-stop(#860071),
    to(#600060)
  );
  background-image: linear-gradient(
    to right bottom,
    #ff0291,
    #d6008a,
    #ad007f,
    #860071,
    #600060
  );
  color: #fcf8f8;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

h4 {
  margin-bottom: 10px;
  font-weight: lighter;
  color: grey;
}
@media screen and (max-width: 700px) {
  h1 {
    font-size: 30px;
  }
  p {
    font-size: 15px;
  }
}

@media screen and (max-width: 475px) {
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 12px;
  }
}
/*# sourceMappingURL=styles.css.map */
